html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background: rgb(46,200,231);
background: linear-gradient(90deg, rgba(46,200,231,0.5215336134453781) 0%, rgba(11,11,11,0.2582282913165266) 0%, rgba(241,214,214,1) 0%, rgba(166,12,56,0.8268557422969187) 100%, rgba(7,8,8,1) 100%, rgba(205,142,142,0.6839985994397759) 100%);
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {

    border-radius: 1rem;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: rgb(46,200,231);
      background: linear-gradient(90deg, rgba(46,200,231,0.5215336134453781) 0%, rgba(11,11,11,0.2582282913165266) 0%, rgba(241,214,214,1) 0%, rgba(166,12,56,0.8268557422969187) 100%, rgba(7,8,8,1) 100%, rgba(205,142,142,0.6839985994397759) 100%);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
      border-radius: 2rem;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }